%p{:style => "color: green"}= notice
= render @course

%span
  Lessons:

- @course.lessons.each do |lesson|
  %strong= lesson.title
  %p= lesson.description

%h5 Add a Lesson:
= form_for [@course, Lesson.new], html: { id: 'lesson-form' } do |f|
  = f.label :title
  %br
  = f.text_field :title

  %br
  = f.label :description
  %br
  = f.text_area :description

  = f.submit 'Submit'


%div
  = link_to "Edit this course", edit_course_path(@course)
  |
  \#{link_to "Back to courses", courses_path}
